html, body{
  overflow-x: hidden;
}
body {
  background: linear-gradient(134deg, #FFA412 27%, #EB57F7 99%);
  font-family: "Open Sans", sans-serif;
  color: #0A0F21;
  font-weight: 300;
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: #4567FF;
  font-weight: 300;
  font-size: 48px;
}
h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #4567FF;
}
h2 {
  font-size: 48px;
}
p {
  font-size: 32px;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/* Header */
header {
  min-height: 824px;
  background: #FFFFFF;
  position: relative;
  z-index: 1;
}
header:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

header nav {
  padding: 1em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 40px;
}
header nav ul > li > a {
  color:#0A0F21;
  font-size: 24px;
}
header .angled-background img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header .logo img {
  display: block;
  height: 115px;
}

header .hero {
  text-align: center;
  display: block;
  position: relative;
  line-height: 67px;
  padding-top: 3em;
}
/* WORK */
.project {
  display: block;
  position: relative;
}
.project ul {
  margin: 0 auto;
  padding: 4em 0;
}
.project ul li {
  list-style-type: none;
}
.project-box {
  background: #FFFFFF;
}

/* MEDIA QUERIES */
@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.3333%;
  }
  .one-fourth {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
